@import "../../colors";
@import "../../App";

.welcome-wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  &_infor {
    margin-bottom: 20px;
    background: $blue;
    padding: 7px;
    text-align: center;
    color: $white;
    min-height: 100px;
    border-radius: 8px;
  }

  .button {
    @include button;
  }

  .beginner-level {
    background-color: $white;
    color: $black;
    border: 1px solid $blue-color;
  }

  .beginner-level:hover {
    background-color: $blue-color;
    color: $white;
  }

  .advantage-level {
    background-color: $white;
    color: $black;
    border: 1px solid $red;
  }

  .advantage-level:hover {
    background-color: $red;
    color: $white;
  }
}
